body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 130%;
    color: #40514E;
    
}
p{
    line-height: 2;
}
hr{
    border: dotted #b1b493;
    border-bottom: none;
    width: 3%;
    margin: 100px auto;
}
h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    line-height: 2;
}
h2{
    font-size: 2rem;
    font-style: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    font-style: 'Montserrat', sans-serif;
    color: #11999E;
}
/* a{
    color: #11999E;
    font-style: 'Montserrat', sans-serif;
    text-decoration: none;
    margin: 10px 20px;
}
a:hover{
    color: #eaf6f6;
} */
.footer-link{
    height: 10px;
    margin: 10px 20px;
    cursor: pointer;
}
.copyright{
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}
.top-container{
    background-color: #ddf3f5;
    position: relative;
    padding-top: 100px;
}
.profile-img{
    height: 220px;
}
.middle-container{ 
    margin: 100px 0;
}
.bottom-container{
    background-color: #66bfbf;
    padding: 50px 0 20px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.chill-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.chil-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}
.intro{
    width: 30%;
    margin: auto;
}
.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    text-decoration: none;
  }